.figures{
    width: 1440px;
    display: flex;
    margin: 0 auto;
    overflow: hidden;
}
.figuress{
    width: 1440px;
    margin: 0 auto;
    /* margin-right: 350px; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}
.figuresss{
    width: 1440px;
    margin: 0 auto;
    /* margin-right: 230px; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.figure-img{
    width: 260px;
    height: 280px;
}

.setka2{
    margin-left: 300px;
}
.alll-figures{
    margin-top: -1400px;
}

