.center-left {
    width: 950px;
    display: flex;
    flex-direction: column;
    /* margin: 0 auto; */
}

.section-container {
    width: 950px;
    margin-top: 80px;
    margin-left: 100px;
    /* margin-bottom: 60px; */
}

.top-profile {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-profile p {
    color: rgb(139, 142, 154);
    font-family: Inter Display;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -1%;
    text-align: center;
    text-transform: uppercase;
}

.top-profile p:hover {
    color: rgb(142, 53, 255);
}

.bottom-profile {
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.bottom-profile img {
    width: 48px;
    height: 48px;
}

.bottom-profile h1 {
    color: rgb(25, 26, 38);
    font-family: Roboto Flex;
    font-size: 20px;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: -1%;
    text-align: left;
    text-transform: uppercase;
}

.author-course {
    width: 950px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.all-h {
    width: 370px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all-p {
    width: 420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all-h h1 {
    color: rgb(139, 142, 154);
    font-family: Inter Display;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -1%;
    text-align: left;
}

.all-p p {
    color: rgb(139, 142, 154);
    font-family: Inter Display;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -1%;
    text-align: left;
}

.payment {
    width: 950px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.pay-lang {
    width: 199px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pay-lang img {
    width: 64px;
    height: 64px;
}

.pay-lang h3 {
    color: rgb(25, 26, 38);
    font-family: Inter Display;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -1%;
    text-align: left;
}

.profile-lang {
    width: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-lang img {
    width: 24px;
    height: 24px;
}

.profile-lang h3 {
    color: rgb(25, 26, 38);
    font-family: Inter Display;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -1%;
    text-align: left;
}

.payment h4 {
    color: rgb(25, 26, 38);
    font-family: Inter Display;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -1%;
    text-align: left;
}

.payment p {
    color: rgb(25, 26, 38);
    font-family: Inter Display;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -1%;
    text-align: left;
}

.payment h2 {
    color: rgb(25, 26, 38);
    font-family: Inter Display;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -1%;
    text-align: left;
}

.again-line {
    width: 950px;
    /* height: 1px; */
    border: 0.5px solid rgb(222, 227, 232);
    margin-top: 50px;
}

/* ------------------------------------------------------ */


.center-course {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 60px;
}

.right-choice {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: -340px;

}

.right-choice p {
    color: rgb(139, 142, 154);
    font-family: Inter Display;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -1%;
    text-align: left;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 25px;
}

.right-choice h2 {
    color: rgb(252, 58, 32);
    font-family: Inter Display;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -1%;
    text-align: left;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 25px;
}

.history-order {
    width: 250px;
    height: 48px;
    border-radius: 99999px;
    background: rgb(245, 248, 250);
    color: black;
    font-family: Inter Display;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -1%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.more {
    color: rgb(25, 26, 38);
    font-family: Inter Display;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -1%;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 50px;
    transition: background-color 0.5s ease, transform 0.5s ease ;
}
.more:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 950px;
    height: 34px;
    border-radius: 99999px; 
    background-color: rgb(245, 248, 250);
}