.category {
    width: 1280px;
    margin: 0 auto;

}

.category h1 {
    color: rgb(25, 26, 38);
    font-family: "Roboto";
    font-size: 40px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: -1%;
    text-align: left;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 30px;
}

.populars {
    width: 1328px;
    height: 380px;
    box-sizing: border-box;
    border-radius: 0px 0px 32px 32px;
    position: relative;
    /* -webkit-text-fill-color: none; */

}

.populars h2 {
    padding-top: 20px;
    padding-left: 20px;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 800;
    text-align: left;
    background: linear-gradient(to right, rgb(243, 109, 255), rgb(135, 69, 254), rgb(23, 186, 229));
    -webkit-background-clip: text;
    /* Градиент */
    -webkit-background-clip: text;
    /* Для старых браузеров */
    background-clip: text;
    /* Фон внутри текста */
    color: transparent;
    /* Прозрачный цвет */
    position: absolute;
    top: 10px;

}


.popular {
    box-sizing: border-box;
    border: 1px solid rgb(222, 227, 232);
    border-radius: 20px;
    background: rgb(255, 255, 255);
    width: 416px;
    height: 278px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.popular:hover {
    border: 2px solid rgb(142, 53, 255);
}

.small {
    display: flex;
    align-items: center;
}

.small p {
    color: rgb(25, 26, 38);
    font-family: "Popular";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -1%;
    text-align: left;
}

.popular-first {
    display: flex;
    justify-content: space-between;
}




.vector {
    width: 15px;
    height: 15px;
}


.popular-second button {
    border-radius: 48px;
    background: rgb(245, 248, 250);
    height: 32px;
    width: 85px;
    color: rgb(24, 26, 38);
    font-family: Inter Display;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -1%;
    text-align: center;
    transition:background-color 1s ease, tranform 1s ease ;
}
.popular-second button:hover{
    background-color:rgb(142, 53, 255) ;
    color: white;
}

.popular-three h3 {
    font-family: Inter Display;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -1%;
    text-align: left;


    background: radial-gradient(115.00% 168.00% at 50% -52%, rgb(243, 109, 255), rgb(135, 69, 254) 60.5%, rgb(23, 186, 229) 100%);
    /* Градиент */
    -webkit-background-clip: text;
    /* Для старых браузеров */
    background-clip: text;
    /* Фон внутри текста */
    color: transparent;
    /* Прозрачный цвет */
}

.popular-three p {
    color: rgb(139, 142, 154);
    font-family: Inter Display;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -1%;
    text-align: left;

}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    padding-bottom: 100px;
    padding-top: 0px;
    margin: 0 auto;
    padding-top: 50px;
}

.so {
    width: 235px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(222, 227, 232);
    border-radius: 99999px;
    background: rgb(255, 255, 255);
    color: rgb(25, 26, 38);
    font-family: Inter Display;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -1%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.so:hover{
    border: 2px solid rgb(142, 53, 255);
}

.flex div {
    display: flex;
}

.flex {
    display: flex;
    justify-content: space-between;
    padding-top: 450px;
    margin: 0 auto;
}

.tip {
    box-sizing: border-box;
    border: 1px solid rgb(222, 227, 232);
    border-radius: 99999px;
    background: rgb(255, 255, 255);
    width: 95px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tip:hover{
    border: 2px solid rgb(142, 53, 255);
}

.popular-btn {
    box-sizing: border-box;
    border: 1px solid rgb(222, 227, 232);
    border-radius: 99999px;
    background: rgb(255, 255, 255);
    width: 92px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: space-evenly;
    transition: border 0.5 ease, tranform 0.5s ease;
}
.popular-btn:hover{
    border: 0.5px solid rgb(142, 53, 255);
}
.dropdown:hover{
    border: 2px solid rgb(142, 53, 255);
    border-radius: 99999px;
}
/* .dropdown-type:hover{
    border: 2px solid rgb(142, 53, 255);
    border-radius: 999999px;
} */

.type{
    transition: border 0.7s ease, transform 0.5s ease;
}
.dropdown{
    transition: border 0.7s ease, transform 0.5s ease;
}
.gradient {
    width: 1330px;
    height: 380px;
    margin: 0 auto;
}

.popularies {
    box-sizing: border-box;
    border: 1px solid rgb(222, 227, 232);
    border-radius: 20px;
    background: rgb(255, 255, 255);
    width: 416px;
    height: 268px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.popularias:hover{
    border: 2px solid rgb(142, 53, 255);
}


.popular-flex {
    width: 1328px;
    position: absolute;
    top: 160px;
    left: 35px;
    display: flex;
    gap: 20px;
    margin: 0 auto;
}

.bottomLine{
    width: 5600px;
    height: 1px;
    margin: 0 auto;
    margin-left: -1200px;
    background-color:rgb(142, 53, 255);
}